.cercle {
	width: 350px;
	height: 350px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 175px;
	z-index:-1;
	position: absolute;
	left:0px;
	opacity:0.5;
}
.triangle{
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 300px solid blue;
	z-index:-1;
	position:absolute;
	right:0px;
	opacity:0.5;
}
.carre{
  position: relative;
  width: 500px;
  height: 250px;
  margin: 20px 0;
  background: green;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
  z-index:999;
  position:absolute;
  top:5%;
  opacity:0.5;
  left:30%;
  
}
.carre:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
  z-index:999;
}

.master{
	width:1000px;
	border: 2px solid black;
	height:350px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;	
	border-right-color: blue;
	border-left-color: red;
}
.vertical{
 width:1000px;
 position: absolute;
 border-bottom: 3px solid black;
 top: 50%;
}
	